@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Darumadrop+One&family=Pacifico&family=Rampart+One&display=swap');

:root {
    --rosa: #f47499;
    --marrom: #7a4e3e;

    --fonttextos: "Pacifico", cursive;
    --fontmarca: "Rampart One", sans-serif;
    --fonttitulo: "Coiny", system-ui;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--rosa);
    background:
        linear-gradient(#f47498be),
        url(img/33236.jpg) center no-repeat scroll;

    background-size: cover;

}

/* HEADER */

header {
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    color: var(--rosa);
    background-color: white;
}

header .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    text-decoration: none;
}

header .menu ul a {
    text-decoration: none;
    color: var(--rosa);
    transition: all .2s ease-in;

}

header .menu ul a:hover {
    transform: translateY(-3px);
    text-decoration: underline;
}

header .menu ul a li {
    font-family: var(--fonttextos);
    font-size: 1.4rem;
}

header .marca h1 {
    text-align: center;
    font-family: var(--fontmarca);
    font-size: 2.4rem;
    line-height: 30px;
}

/* PRIMEIRA SECAO */

#s1 {
    color: white;
    margin-top: 15%;
}

.hero {
    margin-left: 13%;
}

#s1 .hero h1 {
    font-family: "Coiny", system-ui;
    font-size: 5rem;
    line-height: 80px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#s1 .hero button {
    background-color: white;
    color: var(--rosa);
    padding: 11px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
    transition: all .2s ease-in;
    border: 1px white solid;


}

#s1 i {
    font-size: 1.8rem;
}

#s1 .hero button:hover {
    background-color: var(--rosa);
    color: white;
    border: 1px white solid;
    transform: translateY(-3px);
}


/* SEGUNDA SECAO */

#s2 {
    color: #f47499;
    margin-top: 17%;
    background-color: white;
    padding: 50px;
}

#s2 h1{
    font-family: var(--fonttitulo);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5%;
}

#s2 .sobre{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}

#s2 .txtsobre p{
    width: 500px;
    font-family: var(--fonttextos);
    font-size: 1.5rem;
}

#s2 img{
    border-radius: 50px;
}